.games-list-card {
  display: flex;
  margin-top: 20px;
}

.game-card-title {
  font-size: 25px;
}

.game-img-container {
  height: 200px;
  padding-right: 20px;
}
.game-img {
  height: 100%;
  width: 300px;
}

.loading-text,
.error-msg {
  border: 1px solid #5692e8;
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding: 5px;
}

.game-score-container {
  margin: 5px;
  border: 1px solid #5692e8;
  background-color: #5692e8;
  border-radius: 50%;
  font-size: 30px;
  padding: 15px;
  margin-right: 30px;
  align-self: center;
  box-shadow: 0 0 10px #5692e8;
  margin-left: auto;
}

/* media queries to handle different screen sizes  */
@media (width < 1100px) {
  .game-img-container {
    height: 220px;
  }
  .game-img {
    height: 100%;
    width: 250px;
    object-fit: cover;
  }
  .games-list-card {
    font-size: 12px;
  }
  .game-summary {
    line-height: 1.5;
  }
  .game-card-title {
    font-size: 20px;
  }
  .game-score-container {
    margin-right: 20px;
    font-size: 20px;
  }
}

@media (width <= 700px) {
  .game-img-container {
    padding-right: 10px;
    height: 260px;
  }
  .game-img {
    height: 100%;
    width: 200px;
  }
}

@media (width <= 600px) {
  .game-img-container {
    padding-right: 5px;
    height: 200px;
  }
  .game-score-container {
    margin-right: 10px;
    font-size: 15px;
  }
}
@media (width <= 500px) {
  .games-list-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    position: relative;
  }

  .game-text-container-sm {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0e1a2b;
    opacity: 0.9;
    width: 100%;
  }

  .game-img-container {
    padding: 0;
    height: 550px;
  }

  .game-img-sm {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .game-score-container-sm {
    display: flex;
    justify-content: flex-end;
  }
  .game-score-sm {
    border: 1px solid #5692e8;
    background-color: #5692e8;
    border-radius: 50%;
    font-size: 30px;
    margin-right: 30px;
    width: 45px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px #5692e8;
    transform: translateY(-50%);
  }
}
