.card-item,
.games-footer-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.card-input {
  background-color: #182c47;
  margin-top: 5px;
}

.card-input {
  height: 30px;
}

.order-content {
  display: flex;
}

.card-input::placeholder,
.card-item,
.card-input {
  color: #fff;
}

.filter-button-container {
  display: flex;
  justify-content: flex-end;
}

.filter-button {
  background-color: #5692e8;
  width: 60px;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 40px;
  cursor: pointer;
}

.filter-button,
.card-input {
  border: none;
}

.arrow-up-icon {
  border: 1px solid #5692e8;
  background-color: #5692e8;
}

/* Browser compatibility: */

.card-input::-webkit-input-placeholder {
  /* Chrome, Edge, Safari */
  color: #fff;
}
.card-input::-moz-placeholder {
  /* Firefox */
  color: #fff;
}
.card-input::-ms-input-placeholder {
  /* Internet Explorer */
  color: #fff;
}
