@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.header-container {
  display: flex;
  margin-left: 7%;
}

.nav-item {
  display: inline-block;
  width: 100%;
  text-transform: none;
  text-decoration: none;
  position: relative;
  top: 50px;
  z-index: 2;
  margin-right: 50px;
}
.active-link,
.active-link:before {
  display: block;
  margin: 0;
  padding: 0;
}
.active-link,
.active-link:before,
.reflection {
  position: relative;
}

.active-link {
  text-decoration: none;
}

.reflection {
  display: none;
}

.active-link .reflection {
  display: block;
  top: -20px;
  right: 25px;
  color: #0e1a2b;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}

/* media queries to handle different screen sizes  */
@media (width < 750px) {
  .header-container {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    padding-left: 25px;
    width: 200px;
  }
  .inactive-link {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50px;
  }
  .active-link .reflection {
    right: 2px;
  }
}

@media (width < 340px) {
  .contact {
    padding-left: 36px;
  }
}
