.footer-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  width: max-content;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  inline-size: 200px;
  overflow-wrap: break-word;
}

.footer-link {
  text-decoration: none;
  margin-left: 10px;
  color: #5692e8;
}

/* This is needed to vertically-align the footer with the pagination btns */
@media (width >= 940px) {
  .footer-container {
    margin-left: 51%;
  }
}
