.footer-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  width: max-content;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 10px;
}

.footer-link {
  text-decoration: none;
  margin-left: 10px;
  color: #5692e8;
}
