@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Mulish:wght@500&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #081221, #03080f);
}

label,
button,
h1,
h2 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

p,
input {
  font-family: "Mulish", sans-serif;
}
